.navbar-light,
.navbar {
  border-bottom: 1px solid #e0e0e0;
  padding: 0;
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar .navbar-nav .active > .nav-link {
  background-color: #2A74BF;
  color: white;
}
.navbar-light .navbar-nav .active > .nav-link:hover,
.navbar .navbar-nav .active > .nav-link:hover {
  cursor: pointer;
  color: #666;
}
.navbar-light .navbar-nav .nav-link,
.navbar .navbar-nav .nav-link {
  color: #666;
  padding: 15px;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:hover {
  cursor: pointer;
  background-color: #2A74BF;
  color: white;
}
.main {
  font-size: 18px;
}
.main__title {
  padding-top: 1.5rem;
  border-bottom: 1.5px solid #2A74BF;
  color: #2A74BF;
}
.main__content {
  margin-top: 1.5rem;
}
.main__img img {
  width: inherit;
  padding: 0;
}
.main__desc--title {
  color: #2A74BF;
}
.classes__title {
  color: #2A74BF;
  border-bottom: 1.5px solid #2A74BF;
  margin-top: 2rem;
}
.classes__item .card {
  margin-top: 1.5rem;
}
.classes__item .card:hover {
  opacity: 0.7;
  cursor: pointer;
}
.classes__item p {
  color: white;
  text-align: center;
  margin: 7px 0;
}
.classes__item img {
  width: 100%;
}
.classes__item--red {
  background-color: #D7514C;
}
.classes__item--blue {
  background-color: #2A74BF;
}
.classes__item--orange {
  background-color: #D8C11D;
}
.classes__item--green {
  background-color: #4D944B;
}
.footer__item {
  background-color: grey;
  padding: 10px;
  margin-top: 2rem;
  color: white;
}
.p-2 {
  padding: 2px !important;
}
