$mainFont: Source Sans Pro, sans-serif;
$secondFont: Fresca, sans-serif;

$bg: url(../img/m-h-night.jpg);


$baseFontColor: #fff;
$fontColor: #bac3ce;
$buttonColor: #e3ac00;
$buttonHoverColor: #f5bf1c;
$underlineColor: #ff4e33;
$bgColor: #21232e;
$blockBgColor: #3b3f50;
$gradientColor: linear-gradient(90deg, #dda306 0%, #942f50 100%);

$headerHeight: 580px;
$headerWrapWidth: 460px;

$sectionCardWidth: 860px;
$sectionCardHeight: 260px;
$sectioncCardImgWidth: 350px;

$sectionBannerWidth: 900px;
$footerHeight: 150px;

//font sizes
$logoNameFZ: 23px;
$logoSpanFZ: 10px;
$headerHeadingFZ: 55px;
$headerTextFZ: 13px;
$headerLinkFZ: 16px;

$sectionTextFZ: 35px;
$sectionCardHeadingFZ: 20px;
$sectionCardTextFZ: 12px;
$sectionBannerHeadFZ: 25px;

$sectionBannerTextFZ: 14px;
$footerTextFZ: 11px;
$footerCrFZ: 13px;

$lineHeight: 1.2rem;