$mainFont: Source Sans Pro, sans-serif;
$secondFont: Hind, sans-serif;

$bg: url(../img/m-h-day.jpg);


$baseFontColor: #2c2f3c;
$fontColor: #bac3ce;
$buttonColor: #699900;
$buttonHoverColor: #94b354;
$underlineColor: #14a0c7;
$bgColor: #fff;
$blockBgColor: #21232e;
$gradientColor: linear-gradient(90deg, rgba(101,148,15,1) 0%, rgba(47,93,208,1) 100%);

$headerHeight: 580px;
$headerWrapWidth: 460px;

$sectionCardWidth: 860px;
$sectionCardHeight: 260px;
$sectioncCardImgWidth: 350px;

$sectionBannerWidth: 900px;
$footerHeight: 150px;

//font sizes
$logoNameFZ: 23px;
$logoSpanFZ: 10px;
$headerHeadingFZ: 55px;
$headerTextFZ: 13px;
$headerLinkFZ: 16px;

$sectionTextFZ: 35px;
$sectionCardHeadingFZ: 20px;
$sectionCardTextFZ: 12px;
$sectionBannerHeadFZ: 25px;

$sectionBannerTextFZ: 14px;
$footerTextFZ: 11px;
$footerCrFZ: 13px;

$lineHeight: 1.2rem;