.open {
    display: none;
}

.add_new{
    position: absolute;
    top: 0;
    right: 0;
}

.set_block {
    margin-top: 40px;
}

.set_block div{
    display: flex;
    justify-content: space-evenly;
}

